-- CreateEnum
CREATE TYPE "PriceType" AS ENUM ('BUY', 'SALE', 'PROMO');

-- CreateEnum
CREATE TYPE "SaleStatus" AS ENUM ('PENDING', 'COMPLETED', 'CANCELED');

-- CreateEnum
CREATE TYPE "PurchaseStatus" AS ENUM ('PENDING', 'COMPLETED', 'CANCELED');

-- CreateTable
CREATE TABLE "User" (
    "user_id" SERIAL NOT NULL,
    "firebase_uid" TEXT NOT NULL,
    "full_name" TEXT NOT NULL,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "User_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "Business" (
    "business_id" SERIAL NOT NULL,
    "owner_id" INTEGER,
    "business_name" TEXT NOT NULL,
    "business_address" TEXT,
    "business_phone" TEXT,
    "cuil" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Business_pkey" PRIMARY KEY ("business_id")
);

-- CreateTable
CREATE TABLE "Brand" (
    "brand_id" SERIAL NOT NULL,
    "brand_name" TEXT NOT NULL,
    "brand_description" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Brand_pkey" PRIMARY KEY ("brand_id")
);

-- CreateTable
CREATE TABLE "GlobalProduct" (
    "product_id" SERIAL NOT NULL,
    "product_name" TEXT NOT NULL,
    "brand_id" INTEGER,
    "product_description" TEXT,
    "product_code" TEXT,
    "generic_sale_price" DECIMAL(65,30),
    "generic_buy_price" DECIMAL(65,30),
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "GlobalProduct_pkey" PRIMARY KEY ("product_id")
);

-- CreateTable
CREATE TABLE "BusinessProduct" (
    "business_product_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "product_name" TEXT,
    "product_description" TEXT,
    "product_code" TEXT,
    "creator_id" INTEGER,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "BusinessProduct_pkey" PRIMARY KEY ("business_product_id")
);

-- CreateTable
CREATE TABLE "Inventory" (
    "inventory_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "business_product_id" INTEGER,
    "global_product_id" INTEGER,
    "stock_quantity_total" INTEGER NOT NULL,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Inventory_pkey" PRIMARY KEY ("inventory_id")
);

-- CreateTable
CREATE TABLE "InventoryPrice" (
    "inventory_price_id" SERIAL NOT NULL,
    "inventory_id" INTEGER NOT NULL,
    "price_type" "PriceType" NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "valid_from" BIGINT NOT NULL,
    "valid_to" BIGINT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "InventoryPrice_pkey" PRIMARY KEY ("inventory_price_id")
);

-- CreateTable
CREATE TABLE "Lot" (
    "lot_id" SERIAL NOT NULL,
    "inventory_id" INTEGER NOT NULL,
    "lot_number" TEXT,
    "entry_date" BIGINT,
    "expiration_date" BIGINT,
    "stock_quantity" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Lot_pkey" PRIMARY KEY ("lot_id")
);

-- CreateTable
CREATE TABLE "Category" (
    "category_id" SERIAL NOT NULL,
    "category_name" TEXT NOT NULL,
    "category_description" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("category_id")
);

-- CreateTable
CREATE TABLE "ProductCategory" (
    "product_category_id" SERIAL NOT NULL,
    "global_product_id" INTEGER,
    "business_product_id" INTEGER,
    "category_id" INTEGER NOT NULL,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "ProductCategory_pkey" PRIMARY KEY ("product_category_id")
);

-- CreateTable
CREATE TABLE "Personnel" (
    "personnel_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "personnel_name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "user_id" INTEGER,
    "position" TEXT,
    "salary" DECIMAL(65,30),
    "start_date" BIGINT,
    "departure_date" BIGINT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Personnel_pkey" PRIMARY KEY ("personnel_id")
);

-- CreateTable
CREATE TABLE "Profile" (
    "profile_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "profile_name" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Profile_pkey" PRIMARY KEY ("profile_id")
);

-- CreateTable
CREATE TABLE "Service" (
    "service_id" SERIAL NOT NULL,
    "service_name" TEXT NOT NULL,
    "description" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Service_pkey" PRIMARY KEY ("service_id")
);

-- CreateTable
CREATE TABLE "Permission" (
    "permission_id" SERIAL NOT NULL,
    "profile_id" INTEGER NOT NULL,
    "service_id" INTEGER NOT NULL,
    "can_get" BOOLEAN NOT NULL DEFAULT false,
    "can_post" BOOLEAN NOT NULL DEFAULT false,
    "can_put" BOOLEAN NOT NULL DEFAULT false,
    "can_delete" BOOLEAN NOT NULL DEFAULT false,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("permission_id")
);

-- CreateTable
CREATE TABLE "ProfileUser" (
    "profile_user_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "profile_id" INTEGER NOT NULL,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "ProfileUser_pkey" PRIMARY KEY ("profile_user_id")
);

-- CreateTable
CREATE TABLE "Customer" (
    "customer_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "customer_name" TEXT NOT NULL,
    "contact_name" TEXT,
    "contact_phone" TEXT,
    "contact_email" TEXT,
    "contact_location" TEXT,
    "contact_description" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("customer_id")
);

-- CreateTable
CREATE TABLE "Supplier" (
    "supplier_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "supplier_name" TEXT NOT NULL,
    "contact_name" TEXT,
    "contact_phone" TEXT,
    "contact_email" TEXT,
    "contact_location" TEXT,
    "contact_description" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Supplier_pkey" PRIMARY KEY ("supplier_id")
);

-- CreateTable
CREATE TABLE "Sale" (
    "sale_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "customer_id" INTEGER,
    "total_amount" DECIMAL(65,30),
    "status" "SaleStatus" NOT NULL DEFAULT 'PENDING',
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Sale_pkey" PRIMARY KEY ("sale_id")
);

-- CreateTable
CREATE TABLE "Purchase" (
    "purchase_id" SERIAL NOT NULL,
    "business_id" INTEGER NOT NULL,
    "supplier_id" INTEGER,
    "total_amount" DECIMAL(65,30),
    "status" "PurchaseStatus" NOT NULL DEFAULT 'PENDING',
    "receipt_file" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "Purchase_pkey" PRIMARY KEY ("purchase_id")
);

-- CreateTable
CREATE TABLE "SaleDetail" (
    "sale_detail_id" SERIAL NOT NULL,
    "sale_id" INTEGER NOT NULL,
    "business_product_id" INTEGER,
    "global_product_id" INTEGER,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "total_amount" DECIMAL(65,30),
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "SaleDetail_pkey" PRIMARY KEY ("sale_detail_id")
);

-- CreateTable
CREATE TABLE "PurchaseDetail" (
    "purchase_detail_id" SERIAL NOT NULL,
    "purchase_id" INTEGER NOT NULL,
    "business_product_id" INTEGER,
    "global_product_id" INTEGER,
    "quantity" INTEGER NOT NULL,
    "price" DECIMAL(65,30) NOT NULL,
    "total_amount" DECIMAL(65,30),
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,
    "updated_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "PurchaseDetail_pkey" PRIMARY KEY ("purchase_detail_id")
);

-- CreateTable
CREATE TABLE "SystemSetting" (
    "setting_id" SERIAL NOT NULL,
    "setting_name" TEXT NOT NULL,
    "setting_value" TEXT,
    "created_at" BIGINT NOT NULL DEFAULT EXTRACT(EPOCH FROM NOW()) * 1000,

    CONSTRAINT "SystemSetting_pkey" PRIMARY KEY ("setting_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_firebase_uid_key" ON "User"("firebase_uid");

-- CreateIndex
CREATE UNIQUE INDEX "GlobalProduct_product_code_key" ON "GlobalProduct"("product_code");

-- CreateIndex
CREATE UNIQUE INDEX "Service_service_name_key" ON "Service"("service_name");

-- AddForeignKey
ALTER TABLE "Business" ADD CONSTRAINT "Business_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "User"("user_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GlobalProduct" ADD CONSTRAINT "GlobalProduct_brand_id_fkey" FOREIGN KEY ("brand_id") REFERENCES "Brand"("brand_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BusinessProduct" ADD CONSTRAINT "BusinessProduct_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BusinessProduct" ADD CONSTRAINT "BusinessProduct_creator_id_fkey" FOREIGN KEY ("creator_id") REFERENCES "User"("user_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inventory" ADD CONSTRAINT "Inventory_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inventory" ADD CONSTRAINT "Inventory_business_product_id_fkey" FOREIGN KEY ("business_product_id") REFERENCES "BusinessProduct"("business_product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Inventory" ADD CONSTRAINT "Inventory_global_product_id_fkey" FOREIGN KEY ("global_product_id") REFERENCES "GlobalProduct"("product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "InventoryPrice" ADD CONSTRAINT "InventoryPrice_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "Inventory"("inventory_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lot" ADD CONSTRAINT "Lot_inventory_id_fkey" FOREIGN KEY ("inventory_id") REFERENCES "Inventory"("inventory_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCategory" ADD CONSTRAINT "ProductCategory_business_product_id_fkey" FOREIGN KEY ("business_product_id") REFERENCES "BusinessProduct"("business_product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCategory" ADD CONSTRAINT "ProductCategory_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "Category"("category_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProductCategory" ADD CONSTRAINT "ProductCategory_global_product_id_fkey" FOREIGN KEY ("global_product_id") REFERENCES "GlobalProduct"("product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Personnel" ADD CONSTRAINT "Personnel_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Personnel" ADD CONSTRAINT "Personnel_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("user_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Profile" ADD CONSTRAINT "Profile_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Permission" ADD CONSTRAINT "Permission_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "Profile"("profile_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Permission" ADD CONSTRAINT "Permission_service_id_fkey" FOREIGN KEY ("service_id") REFERENCES "Service"("service_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProfileUser" ADD CONSTRAINT "ProfileUser_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "Profile"("profile_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProfileUser" ADD CONSTRAINT "ProfileUser_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("user_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Customer" ADD CONSTRAINT "Customer_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Supplier" ADD CONSTRAINT "Supplier_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Sale" ADD CONSTRAINT "Sale_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Sale" ADD CONSTRAINT "Sale_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "Customer"("customer_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Purchase" ADD CONSTRAINT "Purchase_business_id_fkey" FOREIGN KEY ("business_id") REFERENCES "Business"("business_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Purchase" ADD CONSTRAINT "Purchase_supplier_id_fkey" FOREIGN KEY ("supplier_id") REFERENCES "Supplier"("supplier_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleDetail" ADD CONSTRAINT "SaleDetail_business_product_id_fkey" FOREIGN KEY ("business_product_id") REFERENCES "BusinessProduct"("business_product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleDetail" ADD CONSTRAINT "SaleDetail_global_product_id_fkey" FOREIGN KEY ("global_product_id") REFERENCES "GlobalProduct"("product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SaleDetail" ADD CONSTRAINT "SaleDetail_sale_id_fkey" FOREIGN KEY ("sale_id") REFERENCES "Sale"("sale_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseDetail" ADD CONSTRAINT "PurchaseDetail_business_product_id_fkey" FOREIGN KEY ("business_product_id") REFERENCES "BusinessProduct"("business_product_id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseDetail" ADD CONSTRAINT "PurchaseDetail_purchase_id_fkey" FOREIGN KEY ("purchase_id") REFERENCES "Purchase"("purchase_id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PurchaseDetail" ADD CONSTRAINT "PurchaseDetail_global_product_id_fkey" FOREIGN KEY ("global_product_id") REFERENCES "GlobalProduct"("product_id") ON DELETE SET NULL ON UPDATE CASCADE;

